<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
        <ion-menu-button auto-hide="false"></ion-menu-button>
      </ion-buttons>
    <ion-title>ENSIAS courses</ion-title>
    <ion-buttons slot="end">
      <ion-button  (click)="goTocanalspages()">
        <ion-icon slot="end" name="school" ></ion-icon>

      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  

  <ion-grid>

    <ion-row>

      <ion-col size-md="6" offset-md="3">
        <ion-card>
            <ion-card-header>
                <ion-card-title>My Informations</ion-card-title>
            </ion-card-header>
            <ion-card-content *ngFor="let profil of myprofil">
                <ion-item>
                    <ion-label position="floating">First Name {{profil.first_name}}</ion-label>
                    <ion-input type="text" id="input-reason"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">Last Name : {{profil.last_name}}</ion-label>
                    <ion-input type="text" id="input-reason"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Email : {{profil.Email}}</ion-label>
                    <ion-input type="text" id="input-reason"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Phone Number : {{profil.phone_number}}</ion-label>
                    <ion-input type="text" id="input-reason"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">CNE : {{ profil.cne }}</ion-label>
                    <ion-input type="text" id="input-reason"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">School Level : {{ profil.school_level }}</ion-label>
                    <ion-input type="text" id="input-reason"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Option : {{ profil.Option }}</ion-label>
                    <ion-input type="text" id="input-reason"></ion-input>
                </ion-item>




                <div class="ion-margin-vertical ion-text-right">
                    <ion-button fill="outline" color="danger" id="btn-cancel" (click)="refreshPage()">
                        <ion-icon name="close" slot="start"></ion-icon>Clear</ion-button>
                    <ion-button id="btn-confirm" (click)="refreshPage()">
                        <ion-icon name="checkmark" slot="start"></ion-icon>Eddit</ion-button>
                </div>

            </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <ion-item  class="ion-activated" (click)="goTologinpages()">
            <ion-icon name="log-out" slot="start" color="danger"></ion-icon>
            <ion-label>Log out </ion-label>
          
          </ion-item>
      </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
