<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
        <ion-menu-button auto-hide="false"></ion-menu-button>
      </ion-buttons>
    <ion-title>ENSIAS courses</ion-title>
    <ion-buttons slot="end">
      <ion-button  (click)="goTocanalspages()">
        <ion-icon slot="end" name="school" ></ion-icon>

      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  

  <ion-grid>

    <ion-row>
      <ion-col size-md="6" offset-md="3">

                  <ion-card *ngFor="let assignment of myassignments">
                      <ion-item>
                        <ion-icon name="cloud-upload-outline" slot="start"></ion-icon>
                        <ion-card-subtitle>{{assignment.assignmentsName}}</ion-card-subtitle>
                      </ion-item>
                      <ion-card-content>
                          Posted on : {{assignment.postedOn}} <br>
                        Return before : {{assignment.returnBefore}} <br>
                        {{assignment.assignmentDescription}}
                        <ion-card>
                          <ion-item  class="ion-activated">
                            <ion-icon name="attach" slot="start"></ion-icon>
                            <ion-label>{{assignment.attached1}}  </ion-label>


                            <ion-buttons slot="end" href="https://www.socialbusinessmodels.ch/sites/default/files/blog/2018-05/Fiches.pdf">
                              <ion-button  href="https://www.socialbusinessmodels.ch/sites/default/files/blog/2018-05/Fiches.pdf">
                                <ion-icon name="cloud-download-outline" slot="end"></ion-icon>
                              </ion-button>
                            </ion-buttons>
                          </ion-item>
                          <ion-item  class="ion-activated">
                            <ion-icon name="attach" slot="start"></ion-icon>
                            <ion-label>{{assignment.attached2}} </ion-label>
                            
                            <ion-buttons slot="end">
                              <ion-button  >
                                <ion-icon name="cloud-download-outline" slot="end"></ion-icon>
                              </ion-button>
                            </ion-buttons>
                          </ion-item>
                      </ion-card>
                      <ion-button color="white" shape="round" size="small">
                        <input type="file"  />
                        <ion-icon name="cloud-upload-outline" color="primary"  slot="start"></ion-icon>
                      </ion-button>
                      </ion-card-content>
                  </ion-card>

      </ion-col>
  </ion-row>

   
  </ion-grid>


</ion-content>
