
<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-buttons slot="start">
          <ion-menu-button auto-hide="false"></ion-menu-button>
        </ion-buttons>
      <ion-title>ENSIAS courses</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>

    <ion-row>
      <ion-col size-md="6" offset-md="3">

                  <ion-card *ngFor="let assignment of myassignments">
                      <ion-item>
                        <ion-icon name="cloud-upload-outline" slot="start"></ion-icon>
                        <ion-card-subtitle>{{assignment.assignmentsName}}</ion-card-subtitle>
                      </ion-item>
                      <ion-card-content>
                          Posted on : {{assignment.postedOn}} <br>
                        Return before : {{assignment.returnBefore}} <br>
                        {{assignment.assignmentDescription}}
                        <ion-card>
                          <ion-item  class="ion-activated">
                            <ion-icon name="attach" slot="start"></ion-icon>
                            <ion-label>Canvas  </ion-label>

                            <ion-icon name="cloud-download-outline" slot="end"></ion-icon>
                          </ion-item>
                          <ion-item  class="ion-activated">
                            <ion-icon name="attach" slot="start"></ion-icon>
                            <ion-label>Directives </ion-label>
                            <ion-icon name="cloud-download-outline" slot="end"></ion-icon>
                          </ion-item>
                      </ion-card>
                      </ion-card-content>
                  </ion-card>

      </ion-col>
  </ion-row>

    <ion-tabs>

      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="profile">
          <ion-icon name="person-circle-outline"></ion-icon>
          <ion-label>Profile</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="dashboard">
          <ion-icon name="school-outline" ></ion-icon>
          <ion-label>Canals</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="settings">
          <ion-icon name="chatbubbles-outline" ></ion-icon>
          <ion-label>Conversation</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="settings">
          <ion-icon name="clipboard" color="secondary"></ion-icon>
          <ion-label>Assignments</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="settings">
          <ion-icon name="book-outline" ></ion-icon>
          <ion-label>Files</ion-label>
        </ion-tab-button>
      </ion-tab-bar>

    </ion-tabs>
  </ion-grid>


</ion-content>
