
<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-buttons slot="start">
          <ion-menu-button auto-hide="false"></ion-menu-button>
        </ion-buttons>
      <ion-title>ENSIAS courses</ion-title>
    </ion-toolbar>
  </ion-header>



    <ion-grid>
        <ion-row>
            <ion-col size-md="4" offset-md="4">
                <ion-card>
                    <ion-card-header>
                        <ion-card-title color="primary" style="text-align:center;">LOGIN</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>

                        <ion-item>
                            <ion-label position="floating">Email </ion-label>
                            <ion-input type="email" #email required></ion-input>
                        </ion-item>

                        <ion-item>
                            <ion-label position="floating">Password</ion-label>
                            <ion-input type="password" #password required></ion-input>
                        </ion-item>

                      <br>
                      <ion-text slot="end" color="danger" href="https://www.ionicframework.com">
                        <h4 >Forgot your password?</h4>
                      </ion-text>


                      <br><br>
                        <div class="ion-margin-vertical ion-text-right">
													<ion-item lines = "none">
                            <ion-button type="submit" fill="outline" color="danger" slot="end" >
																<ion-icon name="close" slot="start"></ion-icon>Cancel</ion-button>
                            <ion-button  type="submit" slot="end" (click)="logIn(email, password)" >
																<ion-icon name="log-in" slot="start" ></ion-icon>Login</ion-button>
													</ion-item>
												</div>

                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>

    </ion-grid>



<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="profile">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dashboard" >
      <ion-icon name="log-in" color="secondary"></ion-icon>
      <ion-label>Log in</ion-label>
    </ion-tab-button>


  </ion-tab-bar>

</ion-tabs>
</ion-content>