
<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-buttons slot="start">
          <ion-menu-button auto-hide="false"></ion-menu-button>
        </ion-buttons>
      <ion-title>ENSIAS courses</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
        <ion-col size-md="6" offset-md="3">


                      <ion-card>
                        <ion-item>
                          <ion-icon name="person" slot="start"></ion-icon>
                          <ion-label>Moufid Ibtissam</ion-label>
                          <ion-card-subtitle slot="end">Oct 1, 2020 11:15</ion-card-subtitle>
                        </ion-item>

                        <ion-card-content>
                          This is content, without any paragraph or header tags,
                          within an ion-card-content element.
                        </ion-card-content>
                      </ion-card>
                      <ion-card>
                        <ion-item>
                          <ion-icon name="person" slot="start"></ion-icon>
                          <ion-label>Zeroual Najlae</ion-label>
                          <ion-card-subtitle slot="end">Oct 1, 2020 11:16</ion-card-subtitle>
                        </ion-item>

                        <ion-card-content>
                          This is content, without any paragraph or header tags,
                          within an ion-card-content element.
                        </ion-card-content>
                      </ion-card>
                      <ion-card>
                        <ion-item>
                          <ion-icon name="person" slot="start"></ion-icon>
                          <ion-label>Nassrallah Meriem</ion-label>
                          <ion-card-subtitle slot="end">Oct 1, 2020 11:17</ion-card-subtitle>
                        </ion-item>

                        <ion-card-content>
                          This is content, without any paragraph or header tags,
                          within an ion-card-content element.
                        </ion-card-content>
                      </ion-card>



        </ion-col>
    </ion-row>

    <ion-row>
    <ion-col size-md="6" offset-md="3">
        <ion-card>
            <ion-card-content>
              <ion-item>
                <ion-input type="text" slot="start" placeholder="Reply" id="input-reason"></ion-input>

                  <ion-buttons slot="end">
                    <ion-button   href="conversation2.html">
                      <ion-icon slot="end" name="send" color="danger"></ion-icon>

                    </ion-button>
                  </ion-buttons>
            </ion-item>
          </ion-card-content>
        </ion-card>
    </ion-col>
    </ion-row>
   
</ion-grid>

</ion-content>
