<ion-header>
  <ion-toolbar color="secondary">

      <ion-buttons slot="start">
          <ion-menu-button auto-hide="false"></ion-menu-button>
        </ion-buttons>



      <ion-title>ENSIAS courses</ion-title>



    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
        <ion-col size-md="6" offset-md="3">

                    <ion-card *ngFor="let file of myfiles">
                        <ion-item>
                          <ion-icon name="book" slot="start" color="secondary"></ion-icon>
                          <ion-card-subtitle>{{file.fileName}}</ion-card-subtitle>
                        </ion-item>
                        <ion-card-content>
                            <ion-item>
                              <ion-card-subtitle >{{file.date}}</ion-card-subtitle>
                              <ion-button fill="outline" color="medium" slot="end" href="Clés pour l'argumentaire de l'entretien d'embauche.pdf" >View</ion-button>
                              <ion-button fill="outline" slot="end">Download</ion-button>
                            </ion-item>
                        </ion-card-content>
                      </ion-card>









        </ion-col>
    </ion-row>


</ion-grid>
</ion-content>
