<ion-header>
  <ion-toolbar>
    <ion-title>notification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>


<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-buttons slot="start">
          <ion-menu-button auto-hide="false"></ion-menu-button>
        </ion-buttons>
      <ion-title>ENSIAS courses</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>

    <ion-row>

      <ion-col size-md="6" offset-md="3">
        <ion-card>
            <ion-item>
              <ion-icon name="pin" slot="start"></ion-icon>
              <ion-card-subtitle>Grades from TEC 2A</ion-card-subtitle>

              <ion-button fill="outline" slot="end">View</ion-button>

            </ion-item>

            <ion-card-content>

              <ion-card-subtitle>29-09-2020</ion-card-subtitle>
              Grades of the course TEC 2A has been posted. <br>
              Your grade is : 15.

            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-item>
              <ion-icon name="pin" slot="start"></ion-icon>
              <ion-card-subtitle>Message from Fatima Nasri</ion-card-subtitle>

              <ion-button fill="outline" slot="end" href="conversation.html">View</ion-button>

            </ion-item>

            <ion-card-content>

              <ion-card-subtitle>29-09-2020</ion-card-subtitle>
              You have a new message from Fatima Nasri.

            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-item>
              <ion-icon name="pin" slot="start"></ion-icon>
              <ion-card-subtitle>Assignment from TEC 2A</ion-card-subtitle>

              <ion-button fill="outline" slot="end" href="Assignments.html">View</ion-button>

            </ion-item>

            <ion-card-content>

              <ion-card-subtitle>29-09-2020</ion-card-subtitle>
              You have a new assignment from TEC 2A.

            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-item>
              <ion-icon name="pin" slot="start"></ion-icon>
              <ion-card-subtitle>File from TEC 2A</ion-card-subtitle>
              <ion-card-title></ion-card-title>
              <ion-button fill="outline" slot="end" href="canal.html">View</ion-button>

            </ion-item>

            <ion-card-content>

              <ion-card-subtitle>29-09-2020</ion-card-subtitle>
              A new file hase been aploaded to TEC 2A.

            </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
    <ion-tabs>

      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="profile">
          <ion-icon name="person-circle-outline" ></ion-icon>
          <ion-label>Profile</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="dashboard">
          <ion-icon name="school-outline" ></ion-icon>
          <ion-label>Canals</ion-label>
        </ion-tab-button>


        <ion-tab-button tab="settings">
          <ion-icon name="Notifications" color="secondary"></ion-icon>
          <ion-label>Notifications</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="settings">
          <ion-icon name="help-circle-outline" ></ion-icon>
          <ion-label>Help</ion-label>
        </ion-tab-button>
      </ion-tab-bar>

    </ion-tabs>
  </ion-grid>


</ion-content>
