<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
        <ion-menu-button auto-hide="false"></ion-menu-button>
      </ion-buttons>
    <ion-title>ENSIAS courses</ion-title>
    <ion-buttons slot="end">
      <ion-button  (click)="goTocanalspages()">
        <ion-icon slot="end" name="school" ></ion-icon>

      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
            <ion-item>
              <ion-icon name="pin" slot="start"></ion-icon>
              <ion-card-subtitle>Grades from TEC 2A</ion-card-subtitle>

              <ion-button fill="outline" slot="end"  >View</ion-button>

            </ion-item>

            <ion-card-content>

              <ion-card-subtitle>29-09-2020</ion-card-subtitle>
              Grades of the course TEC 2A has been posted. <br>
              Your grade is : 15.

            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-item>
              <ion-icon name="pin" slot="start"></ion-icon>
              <ion-card-subtitle>Message from Fatima Nasri</ion-card-subtitle>

              <ion-button fill="outline" slot="end"  (click)="goTomsgpages()">View</ion-button>

            </ion-item>

            <ion-card-content>

              <ion-card-subtitle>29-09-2020</ion-card-subtitle>
              You have a new message from Fatima Nasri.

            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-item>
              <ion-icon name="pin" slot="start"></ion-icon>
              <ion-card-subtitle>Assignment from TEC 2A</ion-card-subtitle>

              <ion-button fill="outline" slot="end"  (click)="goToAssignmentpages()">View</ion-button>

            </ion-item>

            <ion-card-content>

              <ion-card-subtitle>29-09-2020</ion-card-subtitle>
              You have a new assignment from TEC 2A.

            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-item>
              <ion-icon name="pin" slot="start"></ion-icon>
              <ion-card-subtitle>File from TEC 2A</ion-card-subtitle>
              <ion-card-title></ion-card-title>
              <ion-button fill="outline" slot="end"  (click)="goTofilespages()">View</ion-button>

            </ion-item>

            <ion-card-content>

              <ion-card-subtitle>29-09-2020</ion-card-subtitle>
              A new file hase been aploaded to TEC 2A.

            </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
   
  </ion-grid>


</ion-content>
